@font-face {
    font-family: $fontFamilyLemonTuesdayRegular;
    src: url(../fonts/Lemon_Tuesday/18224.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoSlabBold;
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyRobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansSemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansItalic;
    src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}